#Project{
  width: 100%;
  height: 100%;
}
.project_wrap{
  padding-top:100px;
  padding-bottom:100px;
}
/* title */
.project_wrap>h2{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.project_cont>p{
  font-size: 40px;
}
/* project */
.project_box_wrap{
  position: relative;
  height: 90vh;
  height: 100vh;
  width: 100%;
  perspective: 700px;
}
.project_box{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  box-sizing: border-box;
  background-color: #1D1D1D;
  color: #FF6475;
  transform-style: preserve-3d;
  transform: rotateX(-5deg) ;
  border-radius: 23px;
  border-top: 10px solid #FF6475;
  height: 430px;
  transition: transform 1s , top 1s;
}
/* 높이값 */
.project_box.geul_project{
  top:0;
}
.project_box.eri_project{
  top:120px;
} 
.project_box.team_project{
  top:240px;
} 
.project_box.dosirak_cloning{
  top:360px;
} 
.project_box.shouse_cloning{
  top:480px;
} 
.project_box.richmond_cloning{
  top:600px;
} 

/* 호버 */
.project_box.pj_active{
  background-color: #FF6475;
  color: #1D1D1D;
  border-top: 10px solid #1D1D1D;
  transform: rotateX(0deg);
}
.project_box.geul_project:hover{
  top:-280px;
}
.project_box.eri_project:hover{
  top:-160px;
}
.project_box.team_project:hover{
  top:-40px;
}
.project_box.dosirak_cloning:hover{
  top:80px;
}
.project_box.shouse_cloning:hover{
  top:200px;
}
.project_box.richmond_cloning:hover{
  top:320px;
}
/* 프로젝트 왼쪽 */
.project_ex{
  width: 80%;
}
.pj_title{
  font-size: 40px;
  font-weight: bold;
}
.pj_cont{
  font-size: 18px;
  margin-top: 40px;
}
.pj_menu{
  margin-top: 20px;
}
.pj_menu li{
  display: flex;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}
.pj_menu li:last-child{
  margin-bottom: 0;
}
.pj_menu li span{
  font-weight: normal;
  margin-left: 3%;
}

/* 프로젝트 오른쪽 */
.project_view{
  width: 18%;
  text-align: right;
}
.project_view .pj_num{
  font-size: 30px;
}
.project_view .pj_num span{
  margin-left: 5%;
}
.server_menu{
  margin-top: 40px;
}
.server_menu li{
  margin-bottom: 10px;
}
.server_menu li:last-child{
  margin-bottom: 0;
}
.site_link{
  color: #FF6475;
  font-weight: bold;
  font-size: 18px;
}
.site_link.lk_active{
  color: #1D1D1D;
}
.site_link span{
  margin-left: 2%;
}

@media (max-width:1280px) {
  /* 프로젝트 왼쪽 */
  .project_ex{
    width: 70%;
  }
  /* 프로젝트 오른쪽 */
  .project_view{
    width: 28%;
  }
  .project_wrap>h2{
    font-size: 1.925rem;
  }
  .project_cont>p{
    font-size: 1.925rem;
  }
  .pj_title{
    font-size: 1.925rem;
  }
  .project_view .pj_num{
    font-size: 1.5rem;
  }
  .site_link{
    font-size: 16px;
  }
  .pj_cont{
    font-size: 16px;
  }
  .pj_menu li{
    font-size: 15px;
  }
}

@media (max-width:1000px) {
  .project_box_wrap{
    width: 90vw;
    left: 50%;
    transform: translate(-50%);
  }
  .project_box{
    height: 450px;
  }
}

@media (max-width:800px) {
  .project_wrap{
    padding-top:50px;
    /* padding-bottom:50px; */
  }
  /* .project_box_wrap{
    height: 80vh;
  } */
  .project_wrap>h2{
    font-size: 5.5vw;
  }
  .project_cont>p{
    display:none;
  }
  .project_box{
    flex-wrap: wrap;

  /* 추가 */
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 6%;
    padding-bottom: 20%;
    height: auto;
  }
  /* 프로젝트 왼쪽 */
  .project_ex{
    width: 100%;
  }
  .pj_title{
    font-size: 1.725rem;
  }
  .pj_cont{
    margin-top: 30px;
  }
  .pj_menu{
    display: none;
  }
  /* 프로젝트 오른쪽 */
  .project_view{
    width: 100%;
    text-align: left;
  }
  .project_view .pj_num{
    display: none;
  }
  .server_menu{
    display: flex;
    margin-top: 30px;
  }
  .server_menu li{
    width: 33.3333%;
    margin-bottom: 0;
  }
  .server_menu li:nth-child(2){
    text-align: center;
  }
  .server_menu li:nth-child(3){
    text-align: right;
  }

  /* 높이값800 */
  .project_box.eri_project{
    top:110px;
  } 
  .project_box.team_project{
    top:220px;
  } 
  .project_box.dosirak_cloning{
    top:330px;
  } 
  .project_box.shouse_cloning{
    top:440px;
  } 
  .project_box.richmond_cloning{
    top:550px;
  } 

  /* 호버800 */
  .project_box.geul_project:hover{
    top:-180px;
  }
  .project_box.eri_project:hover{
    top:-60px;
  }
  .project_box.team_project:hover{
    top:60px;
  }
  .project_box.dosirak_cloning:hover{
    top:180px;
  }
  .project_box.shouse_cloning:hover{
    top:300px;
  }
  .project_box.richmond_cloning:hover{
    top:420px;
  }
}
@media (max-width:769px){
  .project_box_wrap{
    height: 90vh;
  }
}
@media (max-width:500px){
  /* .project_box_wrap{
    height: 70vh;
  } */
  .server_menu{
    margin-top: 10px;
  }
  .site_link{
    font-size: 14px;
  }
}

@media (max-width:420px){
  .project_box_wrap{
    height: 60vh;
  }
  .pj_title{
    font-size: 1.5rem;
  }
  .pj_cont{
    font-size: 15px;
  }
  .site_link{
    font-size: 12px;
  }
  /* 높이값420 */
  .project_box.eri_project{
    top:90px;
  } 
  .project_box.team_project{
    top:180px;
  } 
  .project_box.dosirak_cloning{
    top:270px;
  } 
  .project_box.shouse_cloning{
    top:360px;
  } 
  .project_box.richmond_cloning{
    top:450px;
  } 

  /* 호버420 */
  .project_box.eri_project:hover{
    top:-90px;
  }
  .project_box.team_project:hover{
    top:0px;
  }
  .project_box.dosirak_cloning:hover{
    top:150px;
  }
  .project_box.shouse_cloning:hover{
    top:240px;
  }
  .project_box.richmond_cloning:hover{
    top:330px;
  }
}

@media (max-width:360px){
  .pj_cont{
    margin-top: 20px;
  }
  .server_menu{
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .server_menu li{
    width: 100%;
    margin-bottom: 0;
  }
  .server_menu li:nth-child(2){
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .server_menu li:nth-child(3){
    text-align: left;
  }
  /* 높이값360 */
  .project_box.eri_project{
    top:70px;
  } 
  .project_box.team_project{
    top:140px;
  } 
  .project_box.dosirak_cloning{
    top:210px;
  } 
  .project_box.shouse_cloning{
    top:280px;
  } 
  .project_box.richmond_cloning{
    top:350px;
  } 

  /* 호버360 */
  .project_box.geul_project:hover{
    top:-250px;
  }
  .project_box.eri_project:hover{
    top:-180px;
  }
  .project_box.team_project:hover{
    top:-130px;
  }
  .project_box.dosirak_cloning:hover{
    top:0;
  }
  .project_box.shouse_cloning:hover{
    top:70px;
  }
  .project_box.richmond_cloning:hover{
    top:140px;
  }
}